@font-face {
    font-family: nunito-sans;
    src: url('/assets/fonts/NunitoSans-Regular.ttf');
}

:root {
    --fg-color: black;
    --bg-color: white;
    --bg-card-color: #e5e5e5;
    --text-opacity: 1.0;
}

[data-theme="night"] {
    --fg-color: white;
    --bg-color: #121212;
    --bg-card-color: #232438;
    --text-opacity: 0.87;
}

body {
    color: var(--fg-color);
    background-color: var(--bg-color);
}

a {
    color: unset;
}

h1, h2, h3, h4, h5, h6 {
    font-family: nunito-sans;
}

p {
    font-family: nunito-sans;
    opacity: var(--text-opacity);
}

.redwood-body-column {
    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
}

.redwood-post-content {
    font-size: 16px;
}

.redwood-post-card-link {
    text-decoration: unset;
}

.redwood-post-card {
    background-color: var(--bg-card-color);
    padding: 20px;
}