@font-face {
    font-family: nunito-sans;
    src: url('/assets/fonts/NunitoSans-Regular.ttf');
}

@font-face {
    font-family: bitter;
    src: url('/assets/fonts/Bitter-Regular.ttf');
}

@font-face {
    font-family: hack;
    src: url('/assets/fonts/Hack-Regular.ttf');
}

:root {
    --fg-color: black;
    --bg-color: white;
    --text-opacity: 1.0;
}

[data-theme="night"] {
    --fg-color: white;
    --bg-color: #121212;
    --text-opacity: 0.87;
}

body {
    color: var(--fg-color);
    background-color: var(--bg-color);
}

a {
    color: unset;
}

h1, h2, h3, h4, h5, h6 {
    font-family: bitter, serif;
    margin-bottom: 5px;
    opacity: var(--text-opacity);
}

p {
    font-family: nunito-sans, sans-serif;
    opacity: var(--text-opacity);
}

img {
    width: 100%;
    height: auto;
}

pre {
    font-family: hack, monospace;
    padding-left: 20px;
    border-left: 3px solid gray;
}

.redwood-body-column {
    max-width: 700px;
    margin-right: auto;
    margin-left: auto;
}

.redwood-post-content {
    font-size: 16px;
}

.redwood-post-card-link {
    text-decoration: unset;
}

.redwood-post-card {

}